In [3]:
import pandas as pd
munis = pd.read_csv('municipal_bonds.csv')
treas = pd.read_csv('treasury_bonds.csv')

In [4]:
treas

,Name,Ticker,Coupon,Maturity,Maturity Type,Country/Region,Currency,Identifier,Bloomberg Composite Rating,Ask Price,Source
0,United States Treasury Note/Bond,T,1.375,11/15/31,NORMAL,US,USD,91282CDJ7,NR,97.718750,BGN
1,United States Treasury Note/Bond,T,1.250,8/15/31,NORMAL,US,USD,91282CCS8,NR,96.750000,BGN
2,United States Treasury Note/Bond,T,1.125,10/31/26,NORMAL,US,USD,91282CDG3,NR,99.085938,BGN
3,United States Treasury Note/Bond,T,0.375,10/31/23,NORMAL,US,USD,91282CDD0,NR,99.597656,BGN
4,Bundesrepublik Deutschland Bundesanleihe,DBR,0.000,8/15/31,AT MATURITY,DE,EUR,BP9803662,NR,103.020000,BGN
...,...,...,...,...,...,...,...,...,...,...,...
995,Bolivian Government International Bond,BOLIVI,4.500,3/20/28,SINKABLE,BO,USD,AM8489388,B,90.066000,CBBT
996,Canadian Government Bond,CAN,1.500,9/1/24,AT MATURITY,CA,CAD,ZS0489246,AAA,100.629000,BGN
997,Serbia International Bond,SERBIA,2.050,9/23/36,AT MATURITY,RS,EUR,BR4415765,BB,92.019000,BGN
998,Uruguay Government International Bond,URUGUA,5.100,6/18/50,SINKABLE,UY,USD,EK3264687,BBB-,130.132000,CBBT
999,Hong Kong Government Bond Programme,GBHK,2.000,11/16/23,AT MATURITY,HK,HKD,BM0950162,NaN,102.200000,EXCH

In [12]:
'''
Use the tax-equivalent-yield formula to compare the real return on a muni bond with a corporate bond.
The formula is: Tax Equivalent Yield = Tax-Free Yield / (1 â€“ Tax Rate).

'''
income_response = float(input("What is your annual income? (if married, please respond the joint annual income): "))
age_response = float(input("What is your age? "))

if income_response >= 0 and income_response <= 10275:
    tax_rate = .10
elif  income_response >=10275 and  income_response < 41775:
    tax_rate = .12
elif  income_response >=41775 and  income_response <89075:
    tax_rate = .22
elif  income_response >=89075 and  income_response <170050:
    tax_rate = .24
elif  income_response >=170050 and  income_response < 215950:
    tax_rate = .32
elif  income_response >=215950 and  income_response <539900:
    tax_rate = .35
elif  income_response >=539900:
    tax_rate = .37

print(tax_rate)

What is your annual income? (if married, please respond the joint annual income): 50000
What is your age? 20
0.22

In [13]:
treas_tax_equivalet_yield =( munis['Coupon']) / (1-tax_rate)

In [14]:
treas_tax_equivalet_yield

0      6.538462
1      3.525641
2      9.519231
3      6.410256
4      6.410256
         ...
995    6.410256
996    3.044872
997    9.102564
998    7.243590
999    6.373077
Name: Coupon, Length: 1000, dtype: float64

In [15]:
munis_vs_treas = pd.DataFrame(treas_tax_equivalet_yield)

In [16]:
munis_vs_treas = pd.DataFrame(munis[['Issuer Name', 'CUSIP', 'Coupon']])

In [17]:
munis_vs_treas['treasury_equivalet_yield'] = treas_tax_equivalet_yield

In [18]:
munis_vs_treas

               Issuer Name      CUSIP  Coupon  treasury_equivalet_yield
0        IL ST TXB-PENSION  452151LF8   5.100                  6.538462
1    MARYLAND STADIUM AUTH  574294AW4   2.750                  3.525641
2            NJ ECON-SER A  645913AA2   7.425                  9.519231
3    BUCKEYE OH TOBACCO-B2  118217CZ9   5.000                  6.410256
4     PR SALES TAX FING-A1  74529JPX7   5.000                  6.410256
..                     ...        ...     ...                       ...
995         CA HLTH FACS-A  13033LX85   5.000                  6.410256
996  ILLINOIS ST HSG DEV-D  45203MDB4   2.375                  3.044872
997       IL ST-TXB-4-BABS  452152GB1   7.100                  9.102564
998   ILLINOIS ST-TXBL-AGM  452152ZB0   5.650                  7.243590
999  KING ETC SD #417-BABS   4.95E+85   4.971                  6.373077

[1000 rows x 4 columns]

In [26]:
treas_weight = 0
muni_weight = 0
if tax_rate == .10 or tax_rate == .12:
    treas_weight = .100
    muni_weight =0
if tax_rate == .22 or tax_rate == .24 or tax_rate == .32:
    treas_weight = .50
    muni_weight = .50
if tax_rate == .35 or tax_rate == .37:
    treas_weight = 0
    muni_weight = .100
print("the portfolio weight for treasury bonds should be", treas_weight * 100, "% since your income tax rate is ", tax_rate)
print("the portfolio weight for municipal bonds should be", muni_weight * 100, "% since your income tax rate is ", tax_rate)

the portfolio weight for treasury bonds should be 50.0 % since your income tax rate is  0.22
the portfolio weight for municipal bonds should be 50.0 % since your income tax rate is  0.22

In [36]:
import numpy as np
equity_allocation = 100 - age_response
fixed_allocation = 100 - equity_allocation
print("equity allocation", equity_allocation)
print("fixed income allocation", fixed_allocation)
treas_yield_chosen = np.mean(munis_vs_treas['treasury_equivalet_yield'])
muni_yield_chosen = np.mean(munis_vs_treas['Coupon'])
fixed_allocation_return = (treas_weight * treas_yield_chosen) + (muni_weight * muni_yield_chosen)
print("fixed_return", fixed_allocation_return)
equity_annual_return = .27

equity allocation 80.0
fixed income allocation 20.0
fixed_return 4.5152757948718

In [40]:
portfolio_annual_return = (equity_allocation / 100) * equity_annual_return + (fixed_allocation/100) * ((fixed_allocation_return * 2)/100)
print("Your annual portfolio return is", portfolio_annual_return)

Your annual portfolio return is 0.23406110317948722